<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-title>
      Trabalhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="grey">

  <ion-searchbar placeholder="Buscar trabalhos"></ion-searchbar>

  <ion-grid>

    <ion-row>

      <ion-col size="6">
          <ion-card>
              <img src="https://images-shoptime.b2w.io/produtos/01/00/img/46185/1/46185168_1GG.jpg">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="ion-text-wrap">
                Boneco Biscuit La Casa de Papel
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-note class="ion-no-padding" slot="end" color="dark">R$ <span>25.99</span></ion-note>
            </ion-item>
          </ion-card>
        </ion-col>

      <ion-col size="6">
        <ion-card>
            <img src="https://www.noivasonline.com/img/fi-convite-de-casamento-guirlanda.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Convite de Casamento
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-note class="ion-no-padding" slot="end" color="dark">R$ <span>4.99</span></ion-note>
          </ion-item>
        </ion-card>
    </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>

    <ion-row>

      <ion-col size="6">
          <ion-card>
              <img src="https://a-static.mlcdn.com.br/1500x1500/boneco-biscuit-freddie-mercury-az-design/decmob/bd1f8b8c414b11ebbfd74201ac1850cb/94ec9ccfe458bcedbf248c989a31a099.jpg">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="ion-text-wrap">
                Boneco Freddie Mercury
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-note class="ion-no-padding" slot="end" color="dark">R$ <span>11.99</span></ion-note>
            </ion-item>
          </ion-card>
        </ion-col>

      <ion-col size="6">
        <ion-card>
            <img src="https://www.printi.com.br/blog/sites/default/files/marca-pagina-criativo_0.png">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Marca Página Personalizado
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-note class="ion-no-padding" slot="end" color="dark">R$ <span>2.50</span></ion-note>
          </ion-item>
        </ion-card>
    </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>

    <ion-row>

      <ion-col size="6">
          <ion-card>
              <img src="https://www.magiaeimaginacao.com.br/9229-thickbox_default/chaveiro-mickey-disney-metal.jpg">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="ion-text-wrap">
                Chaveiro Mickey
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-note class="ion-no-padding" slot="end" color="dark">R$<span>14.99</span></ion-note>
            </ion-item>
          </ion-card>
        </ion-col>

      <ion-col size="6">
        <ion-card>
            <img src="https://fotocampinas.com.br/public/getProductImage/8804/2000/2000/52019?v=1.2020-03-11%2014:49:43">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Foto Polaroid
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-note class="ion-no-padding" slot="end" color="dark">R$ <span>0.99</span></ion-note>
          </ion-item>
        </ion-card>
    </ion-col>

    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
